body 
{
    font-family:Tahoma;
    font-size:12px;
}

/*
table, table tr td
{
    border:1px solid blue;
    vertical-align:top;
}
*/

.no-border
{
    border:0px none white;
    vertical-align:top;
}

fieldset
{
    border:1px solid black;
    padding:5px;
}

a:link, a:hover, a:active { color: blue; }

.headtext {
    color: #093999;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.smalltext {
    color: #1C4088;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

.reftopmenu {
color: black;
font-family: Arial, Helvetica, Verdana, sans-serif;
font-size: 8pt;
font-weight: normal;
}

#bottomBar1 {
    background-color: #369;
    clear: both;
    color: white;
    float: right;
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}

.gfi {
	font-family : Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size :	12px;
	font-style :normal;
	color :#4E4E4E;
}

.dynDiv_moveDiv {
 position: absolute;
 overflow: hidden;
}

.dynDiv_resizeDiv_tl,.dynDiv_resizeDiv_tr,.dynDiv_resizeDiv_bl,.dynDiv_resizeDiv_br {
 width: 10px;
 height: 20px;
 background-image:url('/figis/images/dynDiv_resize.gif');
 position: absolute;
 z-index: 10000;
}

.dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
}

.dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
}

.dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: 16px;
 font-size: 15px;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #faa;
 border: 1px solid #aaa;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
}

.dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #faa;
 font-size: 15px;
 padding: 0;
 margin: 0;
} 

.quarter-max-button{
    background-image: url(./images/add.png) !important;
}

.quarter-min-button{
    background-image: url(./images/delete.png) !important;
}

.year-min-littlestep{
    background-image: url(./images/control_play_blue_retation.png) !important;
}

.year-min-largestep{
    background-image: url(./images/control_rewind_blue.png) !important;
}

.year-max-littlestep{
    background-image: url(./images/control_play_blue.png) !important;
}

.map-button-img{ 
    background-image: url(./images/map_go.png) !important;
}

.print-button-img{ 
    background-image: url(./images/printer.png) !important;
}

.year-max-largestep{
    background-image: url(./images/control_fastforward_blue.png) !important;
}

select{
    background-image: none;
    font-family: Verdana;
    font-style: normal;
    font-size: 12px;
    color: #000000;
    border-color:#C5DAF0;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    width: 182px;
} 
